@page
@model CLDV7111_2023_ST10129307_POE_1.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="container mt-5">
    <p>KhumaloCraft Emporium was founded by James Khumalo...</p>
    <img src="~/images/remco_koenderman_hourglass.png" alt="Founder" class="img-fluid mt-3" style="max-width:70vw; height:40vh;">
    <p class="mt-3">Our mission is to connect skilled artisans...</p>
</div>