@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div></div>

<!-- Hero Section -->
<div class="hero-section">
    <div class="container text-center text-white" style="padding-top:10vh">
        <h1 class="display-4" style="color: #fff; font-weight:bold">Welcome to KhumaloCraft Emporium</h1>
        <p class="lead">Discover the beauty of handcrafted artistry from around the globe.</p>
        <a href="#explore" class="btn btn-primary btn-lg mt-4">Explore Our Collection</a>
    </div>
</div>

<!-- Features or Benefits Section -->
<div class="features-section py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="~/images/canislupus612_men_work.png" alt="Unique Designs" class="mb-3">
                <h3>Unique Designs</h3>
                <p>Every item tells a story. Explore our wide range of unique, handcrafted designs.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/images/okuopila1337_photograph1.png" alt="Artisan Crafted" class="mb-3">
                <h3>Artisan Crafted</h3>
                <p>Our products are crafted with love and care by skilled artisans from around the world.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/images/aidanajoyce_facebook_banner_eco.png" alt="Sustainable" class="mb-3">
                <h3>Sustainable</h3>
                <p>We are committed to sustainable practices that respect the environment and our artisans' communities.</p>
            </div>
        </div>
    </div>
</div>

<!-- About Us Brief Section -->
<div class="about-section py-5">
    <div class="container">
        <h2 class="text-center">About KhumaloCraft</h2>
        <p class="text-center mt-3">KhumaloCraft Emporium is more than just a marketplace. It's a community where the passion for traditional craft meets modern aesthetics. We bridge the gap between talented artisans and passionate collectors. Join us on our journey to celebrate culture, craftsmanship, and creativity.</p>
        <div class="text-center mt-4">
            <a href="/AboutUs" class="btn btn-primary">Learn More About Us</a>
        </div>
    </div>
</div>


<div class="hero-section2">
    <div class="container text-center text-white">
        <a href="/MyWork" class="btn btn-light btn-lg mt-4">Explore Our Collection</a>
    </div>
</div>
